<aside>
    <h3><a href="">Panel Principal</a></h3>
    <h3><a href="/cliente">Clientes</a></h3>
    <h3><a href="/iva">Impuestos</a></h3>
    <h3><a href="/producto">Productos</a></h3>
    <h3><a href="/estado">Estados Factura</a></h3>
    <h3><a href="/factura">Facturas</a></h3>
</aside>