<aside>
    <p><a href="">Panel Principal</a></p>
    <p><a href="/cliente">Clientes</a></p>
    <p><a href="/iva">Impuestos</a></p>
    <p><a href="/producto">Productos</a></p>
    <p><a href="/estado">Estados Factura</a></p>
    <p><a href="/linea/factura">Lineas Factura</a></p>
    <p><a href="/factura">Facturas</a></p>
</aside>